<section class="col-xs-12 content">
	<group>
	<div class="so-back islandBack islandBack--t">
		<div class="island">
			<div class="island__header">
				{{currentNetwork.name | translate}} <strong></strong>
				<a class="btn btn-success btn-sm" ng-click="refresh()" ng-disabled="working">
					<span class="glyphicon glyphicon-refresh"></span> {{'refresh' | translate}}</a>
			</div>
			<div class="row noborder" ng-hide="funded()">
				<div class="s-alert s-alert--error">
				  <span ng-show="unfunded" translate="NotFoundError" translate-values="native">Unfunded</span>
					<span ng-hide="unfunded" translate="no_balance">Account not found. (Unfunded or Network error)</span>
				</div>
			</div>
			<table class="BalancesTable">
				<thead>
					<tr class="BalancesTable__headerRow">
						<td>{{'asset' | translate}}</td>
						<td><sapn>{{'balance' | translate}}</sapn></td>
						<td><sapn>{{'trust_limit' | translate}}</sapn></td>
					</tr>
				</thead>
				<tbody>
					<tr class="BalancesTable__row">
						<td>
							<gateway name="" logo="{{native.logo}}" website="" code="{{native.code}}" address=""></gateway>
						</td>
						<td class="BalancesTable__row__amount">
							<span>{{balance | number : 6}}</span><br>
							<span class="BalancesTable__row__removeLink">({{'reserve' | translate}} {{reserve | number : 2}})</span>
						</td>
						<td></td>
					</tr>
				</tbody>
				<tbody>
					<tr class="BalancesTable__row" ng-repeat-start="line in lines">
						<td ng-init="gateway=getGateway(line.currency, line.issuer)">							
							<gateway name="{{gateway.name}}" logo="{{gateway.logo}}" website="{{gateway.website}}" code="{{line.currency}}" address="{{line.issuer}}"></gateway>
						</td>
						<td class="BalancesTable__row__amount">
							<span> {{line.value | number : 6}}</span>
							<div>
								<a class="BalancesTable__row__removeLink" href="javascript:" ng-click="resolveDeposit(line.currency, line.issuer)" ng-show="hasService(line.currency, line.issuer)">{{'deposit' | translate}}</a>
								<a class="BalancesTable__row__removeLink" href="javascript:" ng-click="goSend(line.currency, line.issuer)" ng-show="hasService(line.currency, line.issuer)">{{'withdraw' | translate}}</a>
								<a class="BalancesTable__row__removeLink" href="javascript:" ng-click="goTrade(line.currency, line.issuer)">{{'trade' | translate}}</a>
							</div>							
						</td>
						<td>
							<span class="BalancesTable__row__limit">{{line.limit | number : 0}}</span><br/>
							<span class="BalancesTable__row__removeLink" translate="trust_noremove_desc" ng-show="line.limit == 0 && line.ripplingDisabled">No need to remove the trustline.</span>
							<a class="BalancesTable__row__removeLink" href="javascript:"
								ng-hide="line.limit == 0 && line.ripplingDisabled || isRemoving(line.currency, line.issuer)"
								ng-click="delTrust(line.currency, line.issuer)"
								translate="trust_remove">Remove trust</a>
							<span class="BalancesTable__row__removeLink"
								ng-show="isRemoving(line.currency, line.issuer)"
								translate="trust_removeing">Removing</span><br>
							<a class="BalancesTable__row__removeLink" href="javascript:"
								ng-show="deposit_info[line.currency][line.issuer].resolved"
								ng-click="toggleDepositInfo(line.currency, line.issuer)">
								{{'deposit' | translate}}
								<i class="fa fa-angle-double-down" ng-hide="deposit_info[line.currency][line.issuer].show"></i>
								<i class="fa fa-angle-double-up" ng-show="deposit_info[line.currency][line.issuer].show"></i>
							</a>
						</td>
					</tr>
					<tr ng-repeat-end ng-show="deposit_info[line.currency][line.issuer].resolved && deposit_info[line.currency][line.issuer].show" class="BalancesTable__row">
						<td colspan=3>
							<span>{{deposit_info[line.currency][line.issuer].info.how}}</span><br>
							<div ng-repeat="(key, msg) in deposit_info[line.currency][line.issuer].info.extra_info">
								<span>{{key}}: {{msg}}</span><br>
							</div>

						</td>
					</tr>
				</tobdy>
			</table>

			<div class="popubDialog" ng-show="show_deposit">
				<div class="popubDialog__main">
					<div class="popubDialog__body">
						<div class="flexRow">
							<div class="deposit_logo">
								<div class="content__logo" ng-hide="deposit_working || deposit_error">
									<img class="logo__image" data-ng-src="{{deposit_info.logo}}">
								</div>
								<div class="content__msg" ng-show="deposit_working">
									<i class="fa fa-spinner fa-pulse"></i>
								</div>
								<div class="content__msg error" ng-show="deposit_error">{{ deposit_error | translate }}</div>
							</div>
							<div class="deposit" ng-show="deposit_info.address">
								<div class="content">
									<label>{{deposit_info.network}}</label>
									<p>{{deposit_info.address}}</p>
									<p ng-show="deposit_info.memo">{{deposit_info.memo}}</p>
									<p class="qrcodebox">
										<qrcode data="{{deposit_info.address}}" size=124></qrcode>
									</p>									
								</div>								
							</div>
							<div class="deposit" ng-show="deposit_msgs.length">
								<div class="content">									
									<label translate="attention">Attention</label>
									<p ng-repeat="msg in deposit_msgs">{{msg}}</p>
								</div>								
							</div>
						</div>
					</div>
					<div class="popubDialog__close">
						<img src="img/closeIcon.png" ng-click="show_deposit=false" alt="">
					</div>
				</div>
			</div>

		</div>
	</div>
	</group>
</section>
