<div ng-controller="HeaderCtrl" class="header">
    <header ng-show="!showMenu" class="auth">
      <h1 translate="header_wellcome">Stellar is a platform that connects banks, payments systems, and people.</h1>
    </header>

	<nav class="navbar navbar-inverse" ng-show="showMenu">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" style="padding-top: 5px;" href="#">
	      	<img style="width: 40px; height: 40px; border: 2px solid #AAA; border-radius: 50%; background: white;" data-ng-src="img/waterdrop.jpg">
	      </a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	        <li ng-class="{active:isActive('/hist_payments') || isActive('/hist_trades') || isActive('/hist_effects')}" ng-show="currentNetwork.tabs.indexOf('history') > -1">
	        	<a href="javascript:" ng-click="goTo('/hist_payments')">{{'history' | translate}}</a>
	        </li>
	        <li ng-class="{active:isActive('/trade') || isActive('/convert')}" ng-show="currentNetwork.tabs.indexOf('trade') > -1"><a href="javascript:" ng-click="goTo('/trade')">{{'trade' | translate}}</a></li>
	        <li ng-class="{active:isActive('/balance')}" ng-show="currentNetwork.tabs.indexOf('balance') > -1"><a href="javascript:" ng-click="goTo('/balance')">{{'balance' | translate}}</a></li>
	        <li ng-class="{active:isActive('/send') || isActive('/contact')}" ng-show="currentNetwork.tabs.indexOf('send') > -1">
	        	<a href="javascript:" ng-click="goTo('/send')">{{'send' | translate}}</a>
	        </li>
	        <li ng-class="{active:isActive('/trust')}" ng-show="currentNetwork.tabs.indexOf('trust') > -1"><a href="javascript:" ng-click="goTo('/trust')">{{'trust' | translate}}</a></li>
	        <li ng-class="{active:isActive('/bridges')}" ng-show="currentNetwork.tabs.indexOf('service') > -1">
	        	<a href="javascript:" ng-click="goTo('/bridges')">{{'service' | translate}}</a>
	        </li>
	        <li ng-class="{active:isActive('/ico')}" ng-show="currentNetwork.tabs.indexOf('ico') > -1"><a href="javascript:" ng-click="goTo('/ico')">{{'ico' | translate}}</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	<li ng-hide="isPublicNetwork()"><a href="javascript:"  ng-click="goTo('/settings')"><i class="fa fa-exclamation-triangle"></i> {{currentNetwork.name | translate}}</a></li>
	        <li>
	        	<a href="javascript:"  ng-click="goTo('/security')" title="{{address}}">
	        		<span class="glyphicon glyphicon-user"></span>
	        		<span ng-hide="fed_name">{{address | shortaddress}}</span>
	        		<span ng-show="fed_name">~{{fed_name}}</span>
	        	</a>
	        </li>
	        <li><a href="javascript:"  ng-click="goTo('/settings')"><span class="glyphicon glyphicon-cog"></span> {{'settings' | translate}}</a></li>
	        <li><a href="javascript:" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> {{'logout' | translate}}</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<div ng-show="isActive('/hist_payments') || isActive('/hist_trades') || isActive('/hist_effects')" class="subnav">
		  <div class="container">
		    <ul>
		      <li ng-class="{active:isActive('/hist_payments')}"><a href="javascript:" ng-click="goTo('/hist_payments')">{{'payments' | translate}}</a></li>
		      <li ng-class="{active:isActive('/hist_effects')}"><a href="javascript:" ng-click="goTo('/hist_effects')">{{'effects' | translate}}</a></li>
		      <li ng-class="{active:isActive('/hist_trades')}"><a href="javascript:" ng-click="goTo('/hist_trades')">{{'trades' | translate}}</a></li>
		    </ul>
		</div>
	</div>
	<div ng-show="isActive('/trade') || isActive('/convert')" class="subnav">
		  <div class="container">
		    <ul>
		      <li ng-class="{active:isActive('/trade')}"><a href="javascript:" ng-click="goTo('/trade')">{{'normal' | translate}}</a></li>
		      <li ng-class="{active:isActive('/convert')}"><a href="javascript:" ng-click="goTo('/convert')">{{'convert' | translate}}</a></li>
		    </ul>
		</div>
	</div>
	<div ng-show="isActive('/send') || isActive('/contact')" class="subnav">
		  <div class="container">
		    <ul>
		      <li ng-class="{active:isActive('/send')}"><a href="javascript:" ng-click="goTo('/send')">{{'send' | translate}}</a></li>
		      <li ng-class="{active:isActive('/contact')}"><a href="javascript:" ng-click="goTo('/contact')">{{'contacts' | translate}}</a></li>
		    </ul>
		</div>
	</div>
	<div ng-show="isActive('/bridges')" class="subnav">
		  <div class="container">
		    <ul>
		      <li ng-class="{active:isActive('/bridges')}"><a href="javascript:" ng-click="goTo('/bridges')">{{'deposit_withdraw' | translate}}</a></li>
		    </ul>
		</div>
	</div>
</div>
