<div ng-controller="HeaderCtrl" class="header">
    <header ng-show="!showMenu" class="auth">
      <h1 translate="header_wellcome">Stellar is a platform that connects banks, payments systems, and people.</h1>
    </header>

	<nav class="navbar topmenu" ng-show="showMenu">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" style="padding-top: 5px;" href="#">
	      	<img ng-class="{online: online, offline: !online}" data-ng-src="img/waterdrop.jpg">
	      </a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	      	<li ng-class="{active:isActive('/balance') || isActive('/history') || isActive('/contact')}" ng-show="currentNetwork.tabs.indexOf('balance') > -1">
	        	<a href="javascript:" ng-click="goTo('/balance')">{{'overview' | translate}}</a>
	        </li>
	        <li ng-class="{active:isActive('/trade') || isActive('/convert')}" ng-show="currentNetwork.tabs.indexOf('trade') > -1">
	        	<a href="javascript:" ng-click="goTo('/trade')">{{'trade' | translate}}</a>
	        </li>
	        <li ng-class="{active:isActive('/send')}" ng-show="currentNetwork.tabs.indexOf('send') > -1">
	        	<a href="javascript:" ng-click="goTo('/send')">{{'send' | translate}}</a>
	        </li>
	        <li ng-class="{active:isActive('/trust')}" ng-show="currentNetwork.tabs.indexOf('trust') > -1"><a href="javascript:" ng-click="goTo('/trust')">{{'gateways' | translate}}</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	<li ng-hide="isPublicNetwork()"><a href="javascript:"  ng-click="goTo('/settings')"><i class="fa fa-exclamation-triangle"></i> {{currentNetwork.name | translate}}</a></li>
	        <li>
	        	<a href="javascript:"  ng-click="goTo('/security')" title="{{address}}">
	        		<i class="fa fa-user"></i> <span>{{address}}</span>
	        	</a>
	        </li>
	        <li class="settings">
	        		<a class="dropdown-toggle" href="javascript:" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
		        	<ul class="dropdown-menu" role="menu">
		        		<li role="presentation"><a role="menuitem" href="javascript:" ng-click="goTo('/settings')"><i class="fa fa-cogs"></i> {{'settings' | translate}}</a></li>
		        		<li role="presentation"><a role="menuitem" href="javascript:" ng-click="logout()"><i class="fa fa-sign-out"></i> {{'logout' | translate}}</a></li>
		        	</ul>
	        </li>
	      </ul>

	    </div>
	  </div>
	</nav>
	<div ng-show="isActive('/balance') || isActive('/history') || isActive('/contact')" class="subnav">
		  <div class="container">
		    <ul>
		    	<li ng-class="{active:isActive('/balance')}"><a href="javascript:" ng-click="goTo('/balance')">{{'balance' | translate}}</a></li>
		      <li ng-class="{active:isActive('/history')}"><a href="javascript:" ng-click="goTo('/history')">{{'history' | translate}}</a></li>
		      <li ng-class="{active:isActive('/contact')}"><a href="javascript:" ng-click="goTo('/contact')">{{'contacts' | translate}}</a></li>
		    </ul>
		</div>
	</div>
	<div ng-show="isActive('/trade') || isActive('/convert')" class="subnav">
		  <div class="container">
		    <ul>
		      <li ng-class="{active:isActive('/trade')}"><a href="javascript:" ng-click="goTo('/trade')">{{'normal' | translate}}</a></li>
		      <li ng-class="{active:isActive('/convert')}"><a href="javascript:" ng-click="goTo('/convert')">{{'convert' | translate}}</a></li>
		    </ul>
		</div>
	</div>
	<div ng-show="isActive('/bridges')" class="subnav">
		  <div class="container">
		    <ul>
		      <li ng-class="{active:isActive('/bridges')}"><a href="javascript:" ng-click="goTo('/bridges')">{{'deposit_withdraw' | translate}}</a></li>
		    </ul>
		</div>
	</div>
</div>
