<section class="col-xs-12 content">
	<group>
	<div class="so-back islandBack islandBack--t">
		<div class="island">
			<div class="island__header">{{'history' | translate}}
				<a class="btn btn-success btn-sm" ng-click="refresh()" ng-disabled="loading">
					<span class="glyphicon glyphicon-refresh"></span> {{'refresh' | translate}}</a>

			</div>
			
			<div class="s-alert s-alert--alert" ng-show="error_msg">
						{{error_msg | translate:currentNetwork.coin}}
			</div>
				
			<div class="history class="col-xs-12">
				<div ng-repeat="tx in history" ng-switch="tx.transaction.type">
					<tx-convert ng-switch-when="exchange"></tx-convert>
					<tx-offer ng-switch-when="offernew"></tx-offer>
					<tx-offercancel ng-switch-when="offercancel"></tx-offercancel>
					<tx-message ng-switch-when="accountset"></tx-message>
					<tx-message ng-switch-when="rippling"></tx-message>
					<tx-message ng-switch-when="failed"></tx-message>
					<tx-default ng-switch-default></tx-default>
				</div>
			</div>
				
        	
      <div class="txfoot">
				<div translate="loading" ng-show="loading">Loading...</div>
				<a href="" ng-click="load_more()" translate="load_more" ng-show="marker && !loading">Load more</a>
				<div translate="no_more" ng-show="!marker && !loading">No more transactions left</div>
			</div>
		</div>
	</div>
	</group>
</section>
