<section class="col-xs-12 content">
	<div class="islandBack islandBack--t">
		<div class="island islandBack">
			<div class="header" translate="ripple_desktop_client">Ripple Desktop Client</div>
			<div class="row" style="padding-top: 40px;">
				<div class="notice_pad">
					<p class="lead" translate="wallet_notice1"></p>
					<ul class="lead">
						<li><span translate="wallet_notice2"></span></li>
						<li><span translate="wallet_notice3"></span></li>
					</ul>
				</div>
			</div>
			<div class="row noborder" ng-show="updateMessage">
				<div class="notice_pad">
							<p class="lead">{{updateMessage}}</p>
				</div>
			</div>
			<div class="row noborder">
				<div class="notice_pad">
							<p class="lead" translate="app_open_source"></p>
							<ul class="lead">
								<li><span translate="github_feedback"></span> https://github.com/ripplefox/ripplewallet</li>
								<li><span translate="qq_feedback"></span></li>
							</ul>
				</div>
			</div>
			<div class="row noborder block">
				<div class="actionLink"><a href="" ng-click="goTo('balance')">{{'go_balance' | translate}}</a></div>
				<div class="actionLink"><a href="" ng-click="stopCountdown()" ng-hide="runOnce || stop">{{'stop_countdown' | translate}} ({{countdown}})</a></div>
			</div>
			
		</div>
	</div>
</section>
