<section class="col-xs-12 content">
	<div class="so-back islandBack islandBack--t">
		<div class="island islandBack form-group">
			<div class="header" translate="send_money">Send money.</div>
			<group ng-show="mode == 'input'">
					<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">
								<label translate="recipient">Recipient</label>
								<input type="text" class="form-control" required="true"
									ng-model="input_address" ng-change="resolve()" ng-model-options="{debounce:800}"
									placeholder="{{'name_or_address' | translate}}" list="contacts">
								<datalist id="contacts">
									<option ng-repeat="entry in contacts" value="{{entry.name}}">{{entry.address}}</option>
								</datalist>
								<div ng-show="input_address != real_address" class="success">{{real_address}}</div>
								<div ng-show="invalid_address" class="error" translate="invalid_address">invalid address</div>
							</div>
					</div>
					
					<group ng-hide="is_federation && extra_fields">
								<div class="row noborder">
										<div class="col-xs-12 col-sm-6 col-md-6">
											<label translate="will_recv">Recipient will receive</label>
											<div class="row noborder nopadding">
												<div class="col-xs-8 nopadding-left">
													<input type="text" autocomplete="off" placeholder="0.00" class="form-control"
														ng-model="asset.amount" ng-change="updatePath()" ng-model-options="{debounce:800}" required="true">
												</div>
												<div class="col-xs-4 nopadding-right">
													<div class="dropdown">
												    <button class="btn btn-default dropdown-toggle form-control nopadding" ng-disabled="!currencies.length" type="button" data-toggle="dropdown">
												    	<div class="content" style="">
												    		<div class="currency">{{asset.code}} </div>
												    		<div class="dropdown-addon" ng-show="currencies.length"><i class="fa fa-sort-desc" aria-hidden="true"></i></div>
												    	</div>
												    </button>
												    <ul class="dropdown-menu" role="menu">
												    	<li role="presentation"><a role="menuitem" href="" ng-click="pickCode(native.code)">{{native.code}}</a></li>
												      <li role="presentation" ng-repeat="code in currencies">
												      	<a role="menuitem" href="" ng-click="pickCode(code)">{{code}}</a>
												      </li>
												    </ul>
												  </div>
												</div>
											</div>
											<div ng-show="disallow_xrp && asset.code==native.code" class="error" translate="disallow_xrp" translate-values="native">Recipient does not allow XRP payments. Are you sure you want to send XRP anyway?</div>
											<div ng-show="invalid_amount && asset.amount" class="error" translate="invalid_amount">Invalid amount.</div>
										</div>
								</div>
								<div class="row noborder">
										<div class="col-xs-12 col-sm-6 col-md-6">
											<label translate="dest_tag">Destination tag</label>
											<input name="tag" type="text" class="form-control" autocomplete="off"
												ng-model="tag" ng-change="checkTag()" ng-required="tag_require" ng-disabled="tag_provided">
											<div ng-show="tag_require" translate="tag_need">Recipient requires a destination tag to be
												specified for the transaction. If you don't know the destination tag, please contact them before doing a transaction.</div>
											<div ng-show="invalid_tag" class="error" translate="error_invalid_tag">invalid tag</div>
										</div>
								</div>
								<div class="row noborder">
									<div ng-show="asset.code == native.code" class="col-xs-12 col-sm-6 col-md-6">
										<button type="submit" class="btn btn-block btn-success" ng-click="pickPath(asset.code)" ng-disabled="invalid_address || invalid_amount || invalid_tag">{{'send' | translate}} {{asset.code}}</button>
									</div>
								</div>
					</group>
					
					<form name="serviceForm" ng-show="is_federation">
							<div ng-repeat="field in extra_fields" ng-switch="field.type" class="row noborder">
								<div ng-switch-when="label" class="col-xs-12 col-md-8">
									<label ng-bind="field.label"></label>
									<p ng-show="field.hint" ng-bind="field.hint" class="field-hint"></p>
								</div>
								<div ng-switch-when="text" class="col-xs-12 col-md-8">
									<label ng-bind="field.label"></label>
									<p ng-show="field.hint" ng-bind="field.hint" class="field-hint"></p>
									<input type="text"
										ng-model="field.value"
										ng-model-options="{debounce:800}"
										ng-required="{{field.required}}" class="form-control" />
								</div>
								<div ng-switch-when="select" class="col-xs-12 col-md-8">
									<label ng-bind="field.label"></label>
									<p ng-show="field.hint" ng-bind="field.hint" class="field-hint"></p>
									<select type="text" ng-model="field.value"
										ng-required="{{field.required}}" class="form-control">
										<option ng-repeat="option in field.options"
											ng-bind="option.label" value="{{option.value}}"
											ng-selected="option.selected" ng-disabled="option.disabled"></option>
									</select>
								</div>
							</div>
							<div class="row noborder" ng-show="service_currency">
									<div class="col-xs-12 col-md-4">
										<label translate="will_recv">Recipient will receive</label>
										<div class="input-group">
											<input type="number" autocomplete="off" placeholder="0.00" class="form-control"
											  ng-model="service_amount" ng-model-options="{debounce:800}" required="true">
											<div class="input-group-addon">{{service_currency}}</div>
										</div>
									</div>
							</div>
					</form>
					
					<div class="row form-group alternatives" ng-show="found">
							<div ng-show="asset.code == native.code && is_federation && extra_fields" class="col-xs-12 col-sm-6 col-md-4">
								<div class="am">
									<span class="amnt">{{asset.amount}}</span>
									<span class="currency">{{asset.code}}</span>
									<div class="ex">(<span class="rate">1</span><span class="pair">{{asset.code}}/{{asset.code}}</span>)</div>
								</div>
								<button type="submit" ng-click="pickPath(asset.code)" class="btn btn-block btn-success">{{'send' | translate}} {{asset.code}}</button>
							</div>
							
							<div class="message" ng-show="!paths.length && asset.code != native.code">{{ 'no_send_path' | translate}}</div>

							<div ng-repeat="alt in paths" class="col-xs-12 col-sm-6 col-md-4">
								<div class="am">
									<span class="amnt">{{alt.value}}</span>
									<span class="currency">{{alt.code}}</span>
									<div class="ex">(<span class="rate">{{alt.rate}}</span><span class="pair">{{asset.code}}/{{alt.code}}</span>)</div>
								</div>
								<button type="submit" ng-click="pickPath(alt.code)" class="btn btn-block btn-success">{{'send' | translate}} {{alt.code}}</button>
							</div>
					</div>
					<div class="row pathupdate" ng-show="found">
						<div class="col-xs-12"><span>{{'path_updated' | translate}} {{lastUpdate}} {{'seconds_ago' | translate}}</span></div>
					</div>
					
					<div class="row noborder" ng-show="act_loading">
						<div class="message"><i class="fa fa-spinner fa-pulse"></i> {{'account_loading' | translate}} {{input_address}}</div>
					</div>
					<div class="row noborder" ng-show="quote_loading">
						<div class="message"><i class="fa fa-spinner fa-pulse"></i> {{'request_quote' | translate}} {{input_address}}</div>
					</div>
					<div class="row noborder" ng-show="finding && !found">
						<div class="message"><i class="fa fa-spinner fa-pulse"></i> {{'calculating' | translate}}</div>
					</div>
					<div class="row" ng-show="real_not_fund">
						<div class="s-alert s-alert--info" translate="not_funded" translate-values="native">Not funded</div>
					</div>
					<div class="row" ng-show="send_error || service_error || quote_error || (!serviceForm.$valid && service_currency)">
						<div class="s-alert s-alert--error">
							<div ng-show="send_error">{{send_error}}</div>
							<div ng-show="service_error">{{service_error | translate}}</div>
							<div ng-show="quote_error">{{quote_error | translate}}</div>
							<div ng-show="!serviceForm.$valid && service_currency" translate="fill_form">Please fill the form correctly.</div>
						</div> 
					</div>
					
				</group>
				
				<group ng-show="mode == 'confirm'">
				  <div class="mode-confirm row">
						<p translate="you_sending" translate-values="path">You are sending XRP to</p>
						<div class="dest_feedback">
							<div class="value">{{input_address}}</div>
							<div class="extra" ng-show="real_address && real_address != input_address">{{real_address}}</div>
						</div>
						<p translate="will_receive">Recipient will receive</p>
						<p class="amount_feedback"><span class="value">{{asset.amount}} </span><span class="currency">{{asset.code}}</span></p>
						<p translate="pay_most">You will pay at most</p>
						<p class="amount_feedback"><span class="value">{{path.value}} </span><span class="currency">{{path.code}}</span><span ng-show="path.origin">± 1%</span></p>
						<p translate="are_you_sure">Are you sure?</p>
					</div>
					
					<div class="row">
						<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
							<button ng-click="cancelConfirm()" class="btn btn-block btn-default back">« {{'back' | translate}}</button>
						</div>
						<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
							<button ng-click="send_confirmed()" class="btn btn-block btn-success submit">{{'confirm' | translate}}</button>
						</div>
					</div>
				</group>
				
				<group ng-show="mode == 'submit'">
					<div class="row form-group" ng-show="sending">
							<div class="message">
								<i class="fa fa-spinner fa-pulse"></i> {{ 'submitting' | translate}}
						  </div>
				  </div>
				  <div class="row form-group block" ng-show="tx_state">
							<div class="message" ng-show="tx_state == 'submitted'">
								<h2 translate="submitted">Your transaction has been submitted.</h2>
						  	<p translate="act_will_upd">Your account will update once the transaction has cleared.</p>
						  </div>
						  <div class="message" ng-show="tx_state == 'success'">
								<h2 class="result-success" translate="cleared">Transaction cleared!</h2>
						  </div>
							<hr>
					  	<div class="actionLink"><a href="" ng-click="init()" translate="another_payment">Do another conversion</a></div>
					  	<div class="actionLink"><a href="" ng-click="goTo('balance')" translate="go_balance">Back to balance</a></div>
				  </div>
				  <div class="row form-group block" ng-show="send_error">
						<div class="s-alert s-alert--error">{{send_error}}</div>
						<hr>
					  <div class="actionLink"><a href="" ng-click="init()" translate="another_payment">Do another conversion</a></div>
					</div>
				</group>
		</div>

</section>
