<section class="col-xs-12 content">
	<div class="so-back islandBack islandBack--t">
		<div class="island">
			<div class="island__header">
				<span translate="add_trust">Add trust from known anchors</span>
				<div style="float:right;">
					<button ng-click="mode = 'manual'" class="btn btn-success" ng-disabled="mode=='manual'">{{'manual_add' | translate}}</button>
				</div>
			</div>
			
			<group ng-show="mode == 'community'">
					<div class="island__paddedContent">
						<p>
							{{'trust_src' | translate}}<br>{{'trust_note' | translate}}
						</p>
					</div>
					
					<div ng-repeat="(name, gateway) in gatewaylist">
						<group ng-repeat="asset in gateway.assets" ng-show="asset.list || show_all">
							<div class="row">
								<div class="row__fixedAsset">
									<gateway name="{{asset.name || gateway.name}}" logo="{{asset.logo || gateway.logo}}" website=""
										code="{{asset.code}}" address="{{asset.issuer}}"></gateway>
								</div>
								<div class="row__shareOption">
									<button class="btn btn-danger" ng-show="hasLine(asset.code, asset.issuer)" ng-click="delTrust(asset.code, asset.issuer)" ng-disabled="isChanging(asset.code, asset.issuer)">{{'trust_remove' | translate}}</button>
									<button class="btn btn-success" ng-hide="hasLine(asset.code, asset.issuer)" ng-click="addTrust(asset.code, asset.issuer)" ng-disabled="isChanging(asset.code, asset.issuer)">{{'trust_add' | translate}} {{asset.code}}</button>
								</div>
							</div>
							<div class="row" ng-show="getError(asset.code, asset.issuer)">
									<div class="s-alert s-alert--alert row__message">{{getError(asset.code, asset.issuer)}}</div>
							</div>
							<div class="row" ng-show="isSubmitted(asset.code, asset.issuer)">
									<div class="s-alert s-alert--info row__message" translate="submitted">Request submitted</div>
							</div>
							<div class="row" ng-show="isDone(asset.code, asset.issuer)">
									<div class="s-alert s-alert--success row__message" translate="trust_granted">Trust is granted!</div>
							</div>
						</group>
					</div>
					
					<a href="" ng-click="showHide()">
						<div class="txfoot">
							<span ng-show="!show_all"><i class="fa fa-angle-double-down fa-2x"></i></span>
							<span ng-show="show_all"><i class="fa fa-angle-double-up fa-2x"></i></span>
						</div>
					</a>
			</group>
			
			<group ng-show="mode == 'manual'">
				<div class="row noborder">
					<div class="col-xs-12 col-md-6 col-sm-6">
			      <form id="addForm" name="addForm" ng-submit="create()">
			        <div class="form-group">
			          <label translate="issuer_id">Issuer Account ID</label>
			          <input type="text" class="form-control" maxlength="70" placeholder="rKiCet8SdvWxPXnAgYarFUXMh1zCPz432Y"
			          	ng-model="manual_issuer" required ng-change="issuerChange()">
			          <div class="errorGroup">
			          	<div class="error" ng-show="manual_issuer && !isValidAddress(manual_issuer)" translate="issuer_invalid">Asset issuer account ID must be a valid account ID</div>
			          </div>
			        </div>
			        
		          <div class="col-xs-8 nopadding-left form-group">
		            <label translate="amount">Amount</label>
		            <input type="text" class="form-control" autocomplete="off" ng-model="manual_amount" placeholder="1000000000">
		          </div>
		          <div class="col-xs-4 nopadding-right form-group">
		            <label translate="asset_code">Asset Code</label>
		            <input type="text" class="form-control" ng-model="manual_code" placeholder="ULT">
		          </div>
		          
		          <div class="col-xs-4 nopadding-left pdtop form-group">
		            <button type="button" ng-click="mode = 'community'" class="btn btn-default btn-block">{{'cancel' | translate}}</button>
		          </div>
		          <div class="col-xs-8 nopadding-right pdtop form-group">
		            <button class="btn btn-success btn-block" 
		            	ng-disabled="!manual_code || !isValidAddress(manual_issuer) || isChanging(manual_code, manual_issuer)"
		            	ng-click="addTrust(manual_code, manual_issuer, manual_amount)">{{'trust_add' | translate}} {{manual_code}}</button>
		          </div>
		          
		          <div class="col-xs-12 nopadding-left pdtop form-group" ng-show="manual_code && isValidAddress(manual_issuer)">
			          <div class="AddTrust__confirmation__assetCard">
									<div class="AssetCard AssetCard--fixed">
										<div class="AssetCard__main">
											<div class="AssetCard__logo">
												<img class="AssetCard__logo__image" data-ng-src="{{manual_logo}}">
											</div>
											<div class="AssetCard__content">
												<div class="AssetCard__header">
													<span class="AssetCard__code">{{manual_code}}</span>{{manual_name}}
												</div>
												<p class="AssetCard__issuerAccountId">{{manual_issuer}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
		      	</form>
		    	</div>
				</div>
				<div class="row" ng-show="getError(manual_code, manual_issuer)">
						<div class="s-alert s-alert--alert row__message">{{getError(manual_code, manual_issuer)}}</div>
				</div>
				<div class="row" ng-show="isSubmitted(manual_code, manual_issuer)">
						<div class="s-alert s-alert--info row__message" translate="submitted">Request submitted</div>
				</div>
				<div class="row" ng-show="isDone(manual_code, manual_issuer)">
						<div class="s-alert s-alert--success row__message" translate="trust_granted">Trust is granted!</div>
				</div>
			</group>
		</div>
	</div>
	
	<div class="so-back islandBack" ng-show="mode == 'manual'">
		<div class="island">
			<div class="island__header" translate="fed_add">Add trust via federation</div>
			<div class="row noborder">
					<div class="col-xs-12 col-md-6 col-sm-6">
			        <div class="form-group">
			          <label translate="fed_url">Federation URL</label>
			          <input type="text" class="form-control" maxlength="70" placeholder="{{'example' | translate}}: ripplefox.com"
			          	ng-model-options="{debounce:800}"
			          	ng-model="fed_url"
			          	ng-change="resolve()">
			          <div class="errorGroup">
			          	<div class="error" ng-show="fed_error">{{fed_error | translate}}</div>
			          </div>
			          <div ng-show="fed_loading" class="success"><i class="fa fa-spinner fa-pulse"></i> {{'fed_loading' | translate}} {{fed_url}}</div>
			        </div>
		    	</div>
				</div>
				<group ng-repeat="asset in fed_currencies">
					<div class="row">
						<div class="row__fixedAsset" ng-init="gateway=getGateway(asset.code, asset.issuer)">
							<gateway name="{{gateway.name}}" logo="{{gateway.logo}}" website="{{gateway.website}}"
										code="{{asset.code}}" address="{{asset.issuer}}"></gateway>
						</div>
						<div class="row__shareOption">
							<button class="btn btn-danger" ng-show="hasLine(asset.code, asset.issuer)" ng-click="delTrust(asset.code, asset.issuer)" ng-disabled="isChanging(asset.code, asset.issuer)">{{'trust_remove' | translate}}</button>
							<button class="btn btn-success" ng-hide="hasLine(asset.code, asset.issuer)" ng-click="addTrust(asset.code, asset.issuer)" ng-disabled="isChanging(asset.code, asset.issuer)">{{'trust_add' | translate}} {{asset.code}}</button>
						</div>
					</div>
					<div class="row" ng-show="getError(asset.code, asset.issuer)">
							<div class="s-alert s-alert--alert row__message">{{getError(asset.code, asset.issuer)}}</div>
					</div>
					<div class="row" ng-show="isSubmitted(asset.code, asset.issuer)">
							<div class="s-alert s-alert--info row__message" translate="submitted">Request submitted</div>
					</div>
					<div class="row" ng-show="isDone(asset.code, asset.issuer)">
							<div class="s-alert s-alert--success row__message" translate="trust_granted">Trust is granted!</div>
					</div>
				</group>
			
		</div>
	</div>

</section>
